<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns="http://www.w3.org/ns/widgets" xmlns:grap="http://phonegap.com/ns/1.0"
            id="com.phonegap.example" versionCode="10" version="1.0.0">
   

<name>Aparcamiento</name>
<description>Aplicacion con la que me voy a hacer rico </description>
<author>Razorix</author>
<preference name="android-targetSdkVersion" value="10" />
 </widget>
